.game {
  display: flex;
}

.game__left-side {
  position: relative;

  width: 225px;
  margin-right: 37.5px;
}

.button--back {
  position: absolute;
  top: 35px;

  margin: 30px 0 60px;
}

.users {
  margin-top: 115px;

  list-style: none;
}

.user {
  margin-bottom: 20px;
}

.user__title {
  position: relative;

  padding-left: 30px;

  font-size: 14px;
}

.user__title:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;

  box-sizing: border-box;
  width: 11px;
  height: 11px;

  background: var(--red);
  border: 1px solid var(--border-color);
  border-radius: 50%;
}

.user--ready .user__title:before {
  background: var(--green);
}

.progress-bar__container {
  width: 225px;
  height: 25px;
  margin-top: 10px;

  border: 1px solid var(--border-color);
}

.progress-bar {
  width: 50%;
  height: 100%;

  background-color: var(--green);
}

.progress-bar--full {
  background-color: var(--bright-green);
}

.game__right-side {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 510px;
  margin-right: 37.5px;

  border: 1px solid var(--border-color);
}

.countdown {
  font-size: 50px;
}

.timer {
  position: absolute;
  top: 10px;
  right: 20px;

  font-style: italic;
  font-size: 15px;
}

.text {
  width: 475px;

  line-height: 200%;
  text-align: center;
}

.text__correct {
  background: var(--green);
}

.text__correct--full {
  background: var(--bright-green);
}

.game__commentator {
  width: 350px;
}

.comment {
  box-sizing: border-box;
  width: 300px;
  height: 250px;
  margin-bottom: 50px;
  padding: 25px;

  text-align: center;

  background: #fafafa;
  border: 1px solid var(--border-color);
  border-radius: 20px;
}

.commentator {
  display: block;
  width: 215px;
  height: auto;
  margin: 0 auto;
}
